.about
  min-height 100vh
  background $primary url("./assets/img/intro-bg.png") center / cover no-repeat
  display flex
  align-items center
  margin-top -75rem
  @media $mobile
    background $primary url("./assets/img/intro-bg-m.png") bottom / contain no-repeat

  & > .container
    display flex
    justify-content flex-end

  &__text
    width 735rem
    font-family $ep
    @media $mobile
      position relative
      width 100%
      padding 120rem 27rem 300rem
      text-align center

    &-title
      position relative
      margin-bottom 70rem
      color $second
      font-size 50rem
      line-height 70rem
      font-weight normal
      @media $mobile
        font-size 27rem
        line-height 38rem
        margin-bottom 43rem


      &:after
        content '”'
        font-size 100rem
        position absolute
        left 88%
        top 120%
        color rgba(248, 248, 248, 0.4)
        @media $mobile
          font-size 70rem
          left 95%
          top 110%

      &:before
        content '”'
        transform rotate(180deg)
        font-size 100rem
        position absolute
        right 100%
        bottom 120%
        color rgba(248, 248, 248, 0.4)
        @media $mobile
          font-size 70rem
          right 96%
          bottom 115%

    &-subtitle
      font-style italic
      font-size 20rem
      font-weight 24rem
      color rgba(248, 248, 248, 0.8)
      @media $mobile
        font-size 15rem
        font-weight 22rem

.about__description
  padding 160rem 0 300rem
  @media $mobile
    padding 100rem 0 130rem

  &-title
    font-size 25rem
    line-height 31rem
    font-weight 700
    color #000
    margin-bottom 32rem
    @media $mobile
      font-size 19rem

  &-text
    font-size 17rem
    line-height 30rem
    color $primary
    @media $mobile
      font-size 19rem
      line-height 24rem

    & > p:last-child
      padding-top 20rem

