.contact
  height 100%
  &__title
    padding-top 0
  &__wrapper
    margin 120rem 0
    display flex
    justify-content space-between
    @media $mobile
      flex-direction column
      margin 55rem 0
  &__info,
  &__img-wrapper
    width 50%
    @media $mobile
      width 100%
    &-row
      display flex
      flex-direction column
      margin-top 72rem
      @media $mobile
        margin-top 57rem
        margin-bottom 100rem
    &-link
      margin 40rem 0
      font-family $ep
      font-size 17rem
      line-height 17rem
      font-weight 400
      color $primary
      @media $mobile
        margin 20rem 0
  &__img
    display block
    width 100%


