.exhibitions__form
  padding 40rem
  border 1px solid $gray
  margin-top 60rem
  width 600rem

  & > .form__btn
    margin-top 0

.exhibitions__label
  cursor pointer
  display inline-block
.exhibitions__span
  padding-left 10rem
  font-size 30rem
  color $primary
