.gallery
  padding-bottom 125rem
  overflow hidden


  &__title-wrapper
    display flex
    align-items flex-end
    justify-content space-between

  &__empty
    margin-top 120rem
    font-size 30rem
    text-align center
    @media $mobile
      font-size 20rem
      margin-top 60rem

  &__span
    margin-top 50rem
    text-align center
    font-size 50rem
    color $primary
    display block
    text-transform uppercase

  &__add
    padding-bottom 5rem
    font-family $ep
    font-size 17rem
    font-weight 600
    color $primary
    border-bottom 1px solid $primary
    @media $mobile
      font-size 10rem

  &__loader
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

  &__list
    margin-top 120rem
    display flex
    flex-wrap wrap

  &__item
    overflow hidden
    width calc(100% / 4)
    transition opacity .4s ease
    border 1rem solid $primary
    position relative
    background-color $second
    @media $mobile
      width 100%

    &-wrapper
      height 350rem
      margin 15rem 20rem
      cursor pointer
      display flex
      align-items center
      justify-content center
      background-position center
      background-size contain
      background-repeat no-repeat
      transition background-position 1s ease

      &[lazy=loading]
        background-size contain

      &[lazy=error]
        background-size contain
        background-repeat no-repeat

        &:hover
          background-position center

      @media $mobile
        height 250rem

      &:hover .gallery__item-text
        transform translateY(0)
        opacity 1

      &:hover .gallery__item-delete
        opacity 1

    &-delete
      height 50rem
      width 50rem
      background-color rgba($primary, 0.8)
      position absolute
      top 5rem
      right 5rem
      z-index 2
      color $second
      font-size 30rem
      opacity 0
      transition opacity 1s ease
      border-radius 10rem

      &.edit
        top 60rem

        & > svg
          height 19rem
          width 19rem


    &-text
      position absolute
      bottom 0
      left 0
      right 0
      display flex
      align-items center
      justify-content flex-start
      font-size 22rem
      line-height 28rem
      font-weight 700
      padding 10rem
      transform translateY(100%)
      opacity 0
      transition transform 1s ease, opacity 1s ease
      background-color $gray
      color $second

      @media $mobile
        font-size 19rem
        line-height 24rem


.gallery__paginate
  opacity 0
  margin-top 20rem
  display flex
  font-size 30rem
  align-items flex-end
  justify-content center
  color $primary

  &[visible]
    opacity 1
  @media $mobile
    font-size 19rem

  &-item
    margin 0 8rem

    &.active
      font-weight 700
      border-bottom 1rem solid $primary

  &-prev
    margin-right 10rem

  &-next
    margin-left 10rem


