.modal
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 10
  height 100%
  width 100%
  background rgba(39, 39, 39, 0.4)
  display flex
  align-items center
  justify-content center
  overflow-y auto

  &__wrapper
    background-color #fff
    position relative
    width 100%
    max-width 1200rem
    @media $mobile
      height 100%
      overflow-y scroll


  &__close
    height 40rem
    width 40rem
    position absolute
    top 40rem
    right 40rem
    font-size 25rem
    color #fff
    background-color #000
    opacity 1
    transition opacity 0.5s ease
    z-index 2

    @media $mobile
      height 30rem
      width 30rem
      font-size 20rem
      right 20rem

    &:disabled
      opacity 0.5


  &__form
    display flex
    flex-direction column
    align-items center
    justify-content space-between
    margin 40rem
    @media $mobile
      flex-direction column
      margin 20rem

    &-uploaded
      font-size 40rem
      position relative
      border-bottom 1px solid $primary
      @media $mobile
        font-size 30rem

      &:after
        content ''
        width 40rem
        height 40rem
        position absolute
        top 10rem
        left -70rem
        background url('./assets/img/tick.png') center / contain no-repeat
        @media $mobile
          display none

    &-control
      display flex
      flex-direction column
      position relative
      margin 30rem 0

      &:after
        content ''
        width 100%
        height 1rem
        background-color rgba($primary, 0.4)
        position absolute
        bottom 0
        left 0


      & > label
        font-family $ep
        font-size 17rem
        font-weight 500rem
        color rgba($primary, 0.4)

      & > input
        font-size 17rem
        font-weight 400
        color $primary
        height 45rem
        padding 4rem 6rem

        @media $mobile
          height 30rem

  &__buttons
    margin 0 61rem
    display flex
    justify-content space-between
    align-items center
    @media $mobile
      margin 40rem 20rem 10rem

    &-btn
      font-family $ep
      font-size 17rem
      font-weight 600
      color rgba($primary, 0.4)
      border-bottom 1px solid rgba($primary, 0)
      transition border-bottom-color .4s ease, color .4s ease

      &:hover
        border-bottom-color rgba($primary, 1)
        color rgba($primary, 1)

      &:disabled:hover
        color rgba($primary, 0.4)
        border-bottom 1px solid rgba($primary, 0)

  &__row
    width 100%
    @media $mobile
      padding 20rem 0

  &__upload
    height 450rem
    background-color rgba($gray, 0.07)
    display flex
    align-items center
    justify-content center
    cursor pointer
    position relative
    overflow hidden

    @media $mobile
      height 200rem

    & > input
      visibility hidden
      opacity 0
      display none

    &-complete
      width 200rem
      @media $mobile
        width 100rem

    &-preview
      overflow hidden
      position relative

    &-img
      height auto
      width 100%
      object-fit cover


    &-line
      height 8rem
      background rgba(0, 255, 104, 1)
      position absolute
      top 0
      left 0

    &-error
      font-size 17rem
      color red
