.world
  &__wrapper-title
    display flex
    align-items flex-end
    justify-content space-between

  &__list
    margin-top 70rem
    margin-bottom 70rem
    display flex
    flex-wrap wrap

  &__item
    height 500rem
    overflow hidden
    padding 20rem
    width calc(100% / 2)
    @media $mobile
      width 100%
      height 300rem
      padding 10rem

    &-wrapper
      margin 0
      position relative
      height 100%
      width 100%
      background-size cover
      background-repeat repeat
      background-position center
      cursor default
      transition background-position 10s ease

      &[lazy=loading]
        background-size contain
        background-repeat no-repeat

      &:hover
        background-position 80% 80%

    &-text
      transform translateY(100%)
      opacity 0
      font-size 35rem
      line-height 47rem
      padding 15rem 10rem
      @media $mobile
        font-size 15rem
        line-height 17rem
        padding 10rem 8rem
