.world
  &__wrapper-title
    display flex
    align-items flex-end
    justify-content space-between

  &__list
    margin-top 70rem
    margin-bottom 70rem
    display flex
    flex-wrap wrap

  &__item
    height 500rem
    overflow hidden
    margin-bottom 50rem
    width calc(100% / 2)
    @media $mobile
      width 100%
      height 300rem
      margin-bottom 25rem

    &-wrapper
      height 100%
      width 100%
      background-size cover
      background-repeat repeat
      background-position center
      cursor default

    &-text
      transform translateY(0)
      font-size 40rem
      line-height 47rem
      padding 20rem 10rem
      @media $mobile
        font-size 30rem
        line-height 37rem
        padding 10rem 8rem
