.footer
  padding-bottom 78rem
  position relative

  & > .container
    display flex
    align-items center
    justify-content space-between
    @media $mobile
      flex-direction column

  &__social
    &-icon
      height 31rem
      width 31rem
      fill rgba($primary, 0.8)
      transition fill .5s ease
      @media $mobile
        margin 0 10rem

      &:first-child
        margin-right 15rem
        @media $mobile
          margin-right 10rem

      &:hover
        fill $gray


  &__copy
    font-family $ep
    color $primary
    font-weight 500
    font-size 17rem
    @media $mobile
      padding 40rem 0

  &__logo
    height 33rem
    width 22rem
    position absolute
    right 30rem
    bottom 30rem
