.header
  padding-top 36rem
  position relative
  z-index 1
  display flex
  align-items center
  @media $mobile
    padding-top 25rem

  &.light .header__logo
    color $second

  &.light .header__nav-item > a,
  &.light .header__nav-item > button
    color $second

  & .header__nav-item > a,
  & .header__nav-item > button

    color $primary
    transition color .5s

  &.light .header__nav-item > a:after
    background-color $second

  & .header__nav-item > a:after
    background-color $primary

  &.light .header__nav-item > button:after
    filter invert(1)

  //
  //&.light .header__nav-item:after
  //  background-color $second

  & > .container
    display flex
    align-items center
    justify-content space-between

  &__logo
    font-family $ml
    font-size 30rem
    color $primary
    transition color .5s
    @media $mobile
      font-size 22em

  &__nav
    @media $mobile
      height 100%
      width 100%
      position fixed
      top 0
      left 0
      right 0
      z-index 2
      background-color #fff
      display flex
      justify-content center
      overflow-y scroll
      opacity 0
      visibility hidden
      transition opacity .5s ease, visibility .5s ease
      &.open
        opacity 1
        visibility visible

    &-list
      padding-top 5rem
      display flex
      align-items center
      justify-content center

      &.mobile .header__nav-item > a
        color $gray

      @media $mobile
        padding 200rem 0
        flex-direction column

    &-item
      font-family $ep
      padding-bottom 2rem
      font-size 19rem
      margin-left 50rem
      position relative
      @media $mobile
        padding-bottom 0
        margin-left 0
        margin-bottom 40rem

      & > a

        &:after
          content ''
          height 1rem
          width 0
          background-color $primary
          position absolute
          bottom -3rem
          left 0
          right 0
          opacity 1
          transition width .5s ease

        &:hover:after
          width 100%

        &.router-link-exact-active.active:after
          width 100%


      & > button
        position relative
        padding-right 20rem

        &:after
          content ''
          height 14rem
          width 18rem
          background url("./assets/img/logout.png") center / contain  no-repeat
          position absolute
          top 4rem
          right 0
          transition filter .5s ease


.burger__btn
  height 21rem
  width 30rem
  position relative
  z-index 10
  @media $desktop
    display none

  &.dark > span
    background-color $second

  & > span
    height 2rem
    width 100%
    background-color $gray
    position absolute
    border-radius 2rem
    left 0
    transition all .5s ease


    &:nth-child(1)
      top 0

    &:nth-child(2)
      top 50%

    &:nth-child(3)
      top 100%

  &.open > span
    background-color rgba($gray, 1)

    &:nth-child(1)
      top 50%
      transform rotate(50deg)

    &:nth-child(2)
      opacity 0

    &:nth-child(3)
      top 50%
      transform rotate(-50deg)

