@font-face
  font-family 'Epilogue';
  src url('~@/assets/fonts/Epilogue-LightItalic.woff2') format('woff2'), url('~@/assets/fonts/Epilogue-LightItalic.woff') format('woff')
  font-weight 300
  font-style italic
  font-display swap

@font-face
  font-family 'Epilogue';
  src url('~@/assets/fonts/Epilogue-Regular.woff2') format('woff2'), url('~@/assets/fonts/Epilogue-Regular.woff') format('woff')
  font-weight normal
  font-style normal
  font-display swap

@font-face
  font-family 'Mulish';
  src url('~@/assets/fonts/Mulish-Bold.woff2') format('woff2'), url('~@/assets/fonts/Mulish-Bold.woff') format('woff')
  font-weight bold
  font-style normal
  font-display swap

@font-face
  font-family 'Mulish';
  src url('~@/assets/fonts/Mulish-Regular.woff2') format('woff2'), url('~@/assets/fonts/Mulish-Regular.woff') format('woff')
  font-weight normal
  font-style normal
  font-display swap

