@import './fonts.styl'
@import './mixins.styl'
@import './vars.styl'
@import './reset.styl'

@import './common.styl'
@import './animation.styl'

/* components import here */
@import './layout/header.styl'
@import './layout/footer.styl'
@import './pages/about.styl'
@import './pages/auth.styl'
@import './pages/contact.styl'
@import './pages/gallery.styl'
@import './pages/modal.styl'
@import './pages/gallerySlider.styl'
@import './pages/world.styl'

