$ml = 'Mulish'
$ep = 'Epilogue'

$primary = #272727
$second = #F8F8F8
$gray = #606060


$mobile = '(max-width:768px)'
$desktop = '(min-width:661px)'

$ios = '(-webkit-overflow-scrolling: touch)'

$ie = 'screen and (-ms-high-contrast: active), (-ms-high-contrast: none)'
